header.navbar{
    gap: 40px;
    max-width: 100vw;
    & .title{
        display: flex;
        gap: 20px;
        & #menu-toggle {
            display: none;
        }
    }
    .header-links{
        display: flex;
        gap: 45px;
        .header-link{
            color: white;
            border-right: 3px solid white;
            padding-right: 5px;
            transition: 0.1s ease-in;
            &:hover{
                color: aqua;
                border-right: solid 5px aqua;
            }
            &:active{
                color: green;
                border-right: green solid 5px green;
            }
        }
    }
}

@media (max-width: 768px){
    header{
        gap: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .title #menu-toggle{
            display: block;
            height: 35px;
            margin-top: 15px;
            border: solid 2px white;
            border-radius: 5px;
            background: black;
            color: white;
            cursor: pointer;
            transition: 0.1s ease-in;
            &:hover{
                background: blue;
            }
            &:active{
                background: aqua;
            }
        }
        & .links{
            display: none;
            gap: 15px;
        }
        & .links.open{
            display: flex;
            flex-direction: column;
        }
    }
}

.auth-links{
    display: flex;
    gap: 10px;
    a, button{
        background: none;
        border: none;
        text-decoration: none;
        display: flex;
        cursor: pointer;
        color: white;
        font-family: sans-serif;
        align-items: center;
        font-size: 1.02em;
    }
}