.page-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.pagination-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
}
.pagination-control .per-page-heading {
  color: white;
  margin-right: 10px;
}
.pagination-control .select {
  padding: 6px;
  background-color: #1c1e22;
  color: #fff;
  border: 1px solid #383d44;
  border-radius: 5px;
}

.table {
  max-width: 95%;
  border-collapse: collapse;
  background-color: #1c1e22;
  color: #fff;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}
.table th button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: ease-in 0.2s;
}
.table th button:hover {
  color: #0e5fd1;
}
.table th button:active {
  color: red;
}
.table th, .table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #383d44;
}
.table th ul, .table td ul {
  padding: 0;
  margin: 0;
}
.table th .more-link, .table td .more-link {
  background: rgb(0, 0, 81);
  border: solid 2px gray;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 7px;
}
.table th .more-link:hover, .table td .more-link:hover {
  background: rgb(0, 0, 255);
}
.table th .more-link:active, .table td .more-link:active {
  background: red;
}
.table-header {
  background-color: #2d3137;
  font-weight: bold;
  color: #fff;
  max-height: 40px;
}
.table .table-row {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.table .table-row .link {
  color: #03ffff;
  text-decoration: none;
}
.table .table-row .link:hover {
  text-decoration: underline;
}
.table .table-row:hover {
  background-color: #353a40;
}
.table .table-row:hover .link {
  color: #03ffff;
}

.button-update, .button-delete {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-update {
  background-color: #10b981;
  color: #fff;
}
.button-update:hover {
  background-color: #0f9c73;
}

.button-delete {
  background-color: #ef4444;
  color: #fff;
}
.button-delete:hover {
  background-color: #dc2f2f;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination-button {
  background-color: #2d3137;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 5px;
  cursor: pointer;
}
.pagination-button:hover {
  background-color: #4b5563;
}
.pagination-button.active {
  background-color: #03FFFF;
  color: #4b5563;
}

.single-page {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background: #2d3137;
  padding: 5px 40px;
  color: #fff;
  border: solid white 10px;
  border-radius: 10px;
}
.single-page h1, .single-page h2 {
  text-align: center;
  margin-bottom: 0;
}
.single-page .application-link {
  color: white;
  text-decoration: none;
  background: blue;
  padding: 7px;
  border-radius: 5px;
  border: solid 2px white;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.single-page hr {
  width: 80vw;
  height: 2px;
  background: white;
}
.single-page .description-text {
  padding-left: 30px;
}
.single-page p {
  margin: 0;
}
.single-page ul {
  margin: 0;
}
.single-page .bottom {
  margin-bottom: 40px;
}/*# sourceMappingURL=pages.css.map */